.modalHistoryCalls{
     
        max-width: 86%;

        .pagintioninfo{
                display: flex;
                justify-content: space-between;                
        }

        p>span{
                font-weight: 700;
        }
   
}
