.addUser .wrap{
    .subFilterBlock{
        margin-left: 20px;
    }
    button{
        display: block;
        margin: 15px auto;
        padding: 5px 10px;
    }
    .messErr{

        margin-left: 40px;
        margin-bottom: 5px;
        text-align: center;

        }

    .btnBlockEdit{
        display: flex;
        justify-content: center;

    }
    .btnBlockEdit button{
        margin: 5px 0 20px 20px

    }

    .iconInput{
        display: flex;
        align-items: center;
        .checkIsBlocked{
            width: 40px;
        }
    }

}
