@import "../../../sass/variables";

header{

	padding-top: 90px;
	
	.container-fluid{
		padding-left: 0;
		padding-right: 0;
	}
	.wrap{
		display: flex;
		justify-content: space-between;
		align-items: center;
    }

    a:hover{
        cursor: pointer;
        opacity: 0.7;
        text-decoration: none;
    }

	h1{
		color: $white;
		font-size: 2rem;
		padding: 10px 0;
    }

    .band{
        margin: 15px auto;
    }
	
}


