@charset "UTF-8";

/**
 * Сброс стилей
 **/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html {
  overflow-y: scroll;
  overflow-x: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding-right: 0 !important;
}

.wrap {
  min-width: 320px;
  max-width: 1320px;
  padding: 0 0px;
  box-sizing: border-box;
  margin: 0 auto;
}

main {
  background: #e9ecef;
}

.mainPage {
  min-height: calc(100vh - 0px);
  padding-top: 180px;
  padding-bottom: 60px;
}

.mainLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: calc(100vh - 50px);
}

body.modal-open {
  overflow: hidden;
}

.errorValidation {
  border: 3px solid #bd2130;
}

