@import "../../../sass/variables";

.navbar{
    margin-top:90px;

    .nav-link{
        font-size: 1.3rem;
    }    

}
.navbar-dark 
    .navbar-nav .active > .nav-link, 
    .navbar-dark .navbar-nav .nav-link.active,
     .navbar-dark .navbar-nav .nav-link.show, 
     .navbar-dark .navbar-nav .show > .nav-link {
        color: $bgSuccess;
       // font-weight: 550;
    }
