@import "../../../sass/variables";

.journal{

    h1{
        text-align: center;
        margin-bottom: 15px;
    }

    .table thead tr th,
    .table tbody tr td{
        text-align: center;
    }

    .actionTr{
        display: flex;
        justify-content: space-between;
        min-height: 65px;
        align-items: center;
    }

    .pagintioninfo{
        display: flex;
        justify-content: space-between;
        align-items: center;

        p{
            font-size: 18px;
            span{
                font-weight: 700;
            }
        }
    }

    .spiner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30%;
    }
        
    .iconFaSearch{
        color: $bgInfo;
    }

    .iconFaEdit,.activeFilter{
        color:$bgSuccess;
    }

    .iconFaTrash,.inActiveFilter{
        color:$bgDanger;
    }

    .iconsStatus{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 65px;

        .fa-check-circle{
            color:$bgSuccess;
        }
        .fa-reply-all{
            color: $bgInfo;
        }

        svg{
            margin-left: 3px;
        }

    }
}

    .iconFaSearch:hover,
    .faCheckCircle:hover,
    .iconFaEdit:hover,
    .iconFaTrash:hover,
    .fa-reply-all:hover,
    .faUserPlus:hover,
    .faFile:hover,
    .faComments:hover,
    .activeFilter:hover,
    .inActiveFilter:hover
    {
        opacity: 0.7;
        cursor: pointer;
    }
