@import "../../../sass/variables";

.addCall{
    margin: 20px auto;

    form{
        border-bottom: 2px solid $bgHr;
    }

    h2{
        text-align: center;
    }

    hr{
        margin: 25px auto;
        border: 2px solid $bgHr;
    }

    .inputAddCall{
        .colClipboard{
            padding-right: 0;
            padding-left: 0;
        }
        .fa-clipboard{
            cursor: pointer;
            margin-top: 7px;
        }
        label{
            text-align: right;
            font-weight: 700;
        }

        .checkboxAnonym{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .identityClient{
            display: flex;
            align-items: center;
            width: 100%;

            table{
                margin-top: 15px;
                margin-bottom: 0;
                background: $white;

                th, td{
                    text-align: center;
                    padding: 0.5rem;
                }
                margin-bottom: 10px;
            }
            .radio-wrapper{
                background: $white;
                border: 1px solid $white;
                border-radius: 5px;

                .radio-options{
                    justify-content: center;
                    align-items: center;
                }

                label{
                    margin-left: 2px;
                }
                label[for=codeWord-id-0]{
                    color:$bgInfo;
                }
                label[for=codeWord-id-1]{
                    color:$bgSuccess;
                }
                label[for=codeWord-id-2]{
                    color:$bgDanger;
                }
            }

        }
    }

    .btnAddCall{
        display: flex;
        justify-content:flex-end;
        margin-bottom: 15px;

        .alert{
            margin-bottom: 0;
            margin-right: 25px;
            padding: .3rem 1.25rem;
        }
    }

    .labelCountCalls{
        text-align: right;
    }
    .countRecord{
        margin-right: 10px;
    }

    .row{
        .errorValidation{
            border:3px solid $bgDanger;
        }
    }

    .wrapStatus{

        .form-status{
            margin-right: 5px;
        }

        label[for=status-id-0]{
            color:$bgDanger;
        }
        label[for=status-id-1]{
            color:$bgSuccess;
        }
        label[for=status-id-2]{
            color:$bgBlue;
        }
        label[for=status-id-3]{
            color:$bgSecondary;
        }
        label[for=status-id-4]{
            color:$bgInfo;
        }
    }

    .usersStatistic{
        justify-content: flex-start !important;

        table{
            background: $white;
            th, td{
                text-align: center;
            }
        }
    }
}

.react-formik-ui .form-element .radio-wrapper .radio-options.inline .radio-option {
    margin-right: 5px;
}
