@import "../../../sass/variables";

.Auth{

        display: flex;
        align-items: center;
        justify-content: center;

    .Authorization{

        width: 200px;
        display: flex;
        flex-direction: column;
        border: 1px solid $bgborder;
        border-radius: 10px;
        background: $white;
      
        img{
            margin: 30px auto;
        }

        p{
            text-align: center;
            color: $bgDanger;
        }

        .iconPass{
            border: 1px solid $bgborder;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            margin: 10px auto;
            display: flex;
            justify-content: center;
            align-items: center;


            img{
               width: 60px;
               height: 60px;
            }
        }

        h1{
            text-align: center;
            font-size: 16px;
            margin-bottom: 20px;
        }

        .iconInput{

            display: flex;
            align-items: center;
            margin: 5px 10px;

            svg{
                color:$bgheader;
                margin-right: 7px;
                cursor: pointer;
            }

            input{
                margin: 6px 10px;
                padding: 5px;
                border: 0;                
                font-size: 14px;
                width: 100%;
            }
            .eye{
                display: flex;
                align-items: center;
                width: 100%;
                border: 1px solid $bgborder;

                svg{
                    margin-right: 5px;
                }
            }
        }

        form{
            display: flex;
            flex-direction: column;
        }

        button{
            padding: 10px;
            margin: 10px;
            border: 1px solid $bgborder;
            border-radius: 5px;
        }

        .messErr{
            text-align: center;
            font-size: 14px;
            padding: 3px;
            border-radius: 5px;
        }
    }
}
