@import "../../../../sass/variables";

.modal-open .modal {
    overflow-y: scroll; overflow-x: hidden;
}

.infoAboutPensioner{
    tbody{
        tr{
            th{
                width: 100px;
            }
            td{
                text-align: left;
            }
        }
    }
}

.infoIcon{
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: space-between;
}
